ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

CLIENT_URL='http://localhost:3000'

GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
GITHUB_CLIENT_ID=${GITHUB_CLIENT_ID}
GITHUB_CLIENT_SECRET=${GITHUB_CLIENT_SECRET}

DB_NAME=
DB_USER=
DB_PASSWORD=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_DEFAULT_URL= // default image url
CLOUDINARY_DEFAULT_PUBLIC_ID= // default image public_id

# DB_USER = //user name for db
# DB_PASSWORD = //password for db
# DB_NAME = // name for db
# JWT_KEY = //random string
# COOKIE_KEY = //random string;
# NODE_ENV = 'development';
# CLIENT_URL = //the port of React app, ex: 'http://localhost:3000';

# //cloundiary will provide you with the following credentials
# CLOUDINARY_CLOUD_NAME = //cloud name
# CLOUDINARY_API_KEY = //API key
# CLOUDINARY_API_SECRET; //API secret

# //Google will provide you with the following credentials
# GOOGLE_API_KEY = //API key

# //Github will provide you with the following credentials
# GH_CLIENT_ID = //Github's Client ID
# GH_CLIENT_SECRET = //Github's Client Secret
